/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rochester", cursive;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .container {
    display: flex;
    margin: 0 10vw 0 10vw;
  }
}
.row {
  display: flex;
}
.row .left,
.row .right {
  width: 50%;
}
.row .left {
  margin-right: 15px;
}
.row .right {
  margin-left: 15px;
}

.valign-container {
  display: table;
  height: 100%;
  width: 100%;
}

.valign-container .valign-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.installation-content li::before,
.integrations-content .row .left .valign-wrapper li::before,
.shoppable-stories .right .valign-wrapper li::before,
.boost-igclicks .left .valign-wrapper li::before,
.analyze-growth .right .valign-wrapper li::before,
.pricing-card li::before {
  content: "\2714\0020";
  font-size: 18px;
  font-weight: 800;
  margin-right: 10px;
}

/* -- Content Container -- */
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 17200.1px;

  background: #ffffff;
}

.hero-section,
.header-container {
  position: absolute;
  width: 100%;
  height: 1040px;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    180deg,
    rgba(214, 218, 228, 0) 0%,
    rgba(214, 218, 228, 0.2) 100%
  );
}
.header-boxshadow {
  width: 100%;
  height: 70px;
  box-shadow: 10px 5px 10px 0px rgba(214, 218, 228, 0.2);
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 1301px;
  height: 50px;
  left: 310px;
  top: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: space-between;
  position: static;
  width: 350px;
  height: 25px;
  left: 156px;
  top: 12.5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 102px;
}

.header-logo {
  position: static;
  width: 154px;
  height: 40px;
  left: 0px;
  top: 5px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 140px;
}

.nav-platform a,
.nav-widgets a,
.nav-templates a,
.nav-pricing a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.header-auth {
  position: static;
  width: 193px;
  height: 50px;
  left: 1108px;
  top: 0px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 302px;
}

.header-auth #login,
.header-auth #free-trial {
  width: 133px;
  height: 50px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

.header-auth #free-trial {
  position: absolute;
  align-items: center;
  top: 0px;
  background: #0066ff;
  color: #ffffff;
  font-weight: bold;
}

.hero-intro {
  position: absolute;
  width: 1301.23px;
  height: 570.42px;
  left: 310px;
  top: 120px;
}

.hero-intro .row .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 700px;
  height: 331px;
  top: 243px;
}

.hero-intro .row .left .valign-wrapper h1 {
  overflow: hidden;
  position: absolute;
  width: 700px;
  height: 120px;
  left: 0px;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 60px;
  color: #000000;
}

.hero-intro .row .left .valign-wrapper h1 span,
.lifespan-heading h3 span {
  background: #f9ed32;
}

.hero-intro .row .left .valign-wrapper p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-top: 140px;
}

.hero-emailregister {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: flex-start;
  padding: 0px;
  position: static;
  height: 86px;
  left: 0px;
  margin-top: 45px;
}
.hero-emailregister input {
  width: 306px;
  padding: 10px 20px;
  outline: #0066ff;
  border-radius: 5px 0px 0px 5px;
  background: #ffffff;
  border: 3px solid #0066ff;
  box-sizing: border-box;
}
.hero-emailregister button {
  color: #ffffff;
  padding: 13px 16px;
  border: none;
  outline: none;
  background: #0066ff;
  border-radius: 0px 5px 5px 0px;
}

.register-extrainfo {
  /* position: static; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 460px;
  height: 16px;
  left: 0px;
  top: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.register-extrainfo li {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  margin: 15px;
  overflow: hidden;
}

.hero-igstories {
  position: absolute;
  width: 524.23px;
  height: 570.42px;
  left: 887px;
  top: 120px;
}

.hero-igstories .right .valign-wrapper #ig {
  position: absolute;
  margin-top: 400px;
  margin-left: -120px;
}
.hero-igstories .right .valign-wrapper #stories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 386px;
  height: 770.42px;
  left: -40px;
  top: -120px;
}

.hero-igstories .right .valign-wrapper #pumpkin,
.hero-igstories .right .valign-wrapper #avocado {
  width: 200.23px;
  height: 295.38px;
  margin-top: -50px;
  margin-left: 340px;
  position: absolute;
}

.hero-igstories .right .valign-wrapper #avocado {
  margin-top: 260px;
}

.other-websites {
  position: absolute;
  width: 830.57px;
  height: 79px;
  left: 545px;
  top: 926px;
}

.other-websites p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  font-variant: small-caps;
  color: #9ca0ac;
}
.websites-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: space-between;
  width: 830.57px;
  height: 38px;
  margin-top: 20px;
}

.widgets-otherweb {
  position: absolute;
  width: 100%;
  height: 1040px;
  left: 0px;
  top: 1040px;

  background: #fff;
}

.otherwebsites-content {
  position: static;
  width: 1920px;
  height: 610px;
  margin: 150px 220px;
}

.otherwebsites-content .row .right .valign-wrapper {
  display: grid;
  position: static;
  width: 150px;
  height: 532px;
  left: 950px;
  top: 0px;
}

.otherwebsites-content .row .right .valign-wrapper h2 {
  overflow: hidden;
  width: 17vw;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.otherwebsites-content .row .right .valign-wrapper button {
  display: flex;
  justify-content: start;
  margin-top: 16px;
  border: none;
  outline: none;
  background-color: inherit;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  text-align: center;
  color: #9ca0ac;
  cursor: pointer;
}
.otherwebsites-content .row .right .valign-wrapper button img {
  display: flex;
  margin-right: 15px;
}

.otherwebsites-content .row .right .valign-wrapper button:last-child {
  color: #0066ff;
  background: #f4f6fa;
}

.story-lifespan {
  position: relative;
  width: 1920px;
  height: 639px;
  left: 0px;
  margin-top: 3100px;
  background: #eef1f7;
}

.lifespan-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  top: 100px;
}

.lifespan-heading h3 {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  margin-top: 86px;
  line-height: 56px;
  color: #000000;
}

.lifespan-heading p {
  width: 781px;
  height: 60px;
  left: 0px;
  margin-top: 27px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.websites-touse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  height: 182px;
  left: 544px;
  top: 307px;
  filter: drop-shadow(0px 0px 10px rgba(156, 160, 172, 0.4));
  margin: 70px 0px;
}

.web-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: static;
  width: 230px;
  height: 200px;
  top: 0px;
  background: #ffffff;
  border-radius: 10px;
  margin: 0px 20px;
}

.web-icons p,
.web-icons span {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.web-icons span {
  font-weight: 200;
  font-size: 18px;
}

.double-growth {
  width: 1920px;
  height: 639px;
  left: 0px;
  margin-top: 90px;
  background: #fff;
}

.growth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1920px;
  height: 742px;
  left: 0px;
  background: #ffffff;
}

.growth-heading h3 {
  overflow: hidden;
  width: 551px;
  height: 112px;
  left: 374.25px;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
}

.growth-cards,
.templates-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1300px;
  height: 218px;
  left: 0px;
  margin-top: 42px;
}

.growth-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 420px;
  height: 218px;
  left: 0px;
  top: 0px;
  background: #eef1f7;
  border-radius: 10px;
  margin: 0px 10px;
}

.brands h4,
.marketers h4,
.web-designers h4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  left: 20px;
  top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.brands p,
.marketers p,
.web-designers p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #000000;
}
.brands p img,
.marketers p img,
.web-designers p img {
  margin-right: 10px;
}

.brands span,
.marketers span,
.web-designers span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.clovin-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1920px;
  height: 232px;
  left: 0px;
  margin-top: 50px;

  background: #ffffff;
}

.clovin-feedback p {
  width: 500px;
  height: 84px;
  left: 0px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.clovin-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 311px;
  height: 80px;
  left: 94.5px;
  top: 152px;
}

.clovin-profile p {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.clovin-profile p span {
  font-weight: 400;
}

.getstarted-templates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  width: 1920px;
  height: 971.22px;
  left: 0px;
  margin-top: 300px;
  background: #111827;
  font-family: "Roboto", sans-serif;
}

.getstarted-heading {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 560px;
  color: #ffffff;
}

.getstarted-heading h3 {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 66px;
  text-align: center;
  margin-bottom: 20px;
}

.getstarted-heading p {
  overflow: hidden;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.getstarted-heading button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 197px;
  height: 50px;
  margin-left: 150px;
  margin-top: 58px;
  border: none;
  outline: none;
  background: #0066ff;
  border: 2px solid #0066ff;
  box-sizing: border-box;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.templates-carousel {
  height: 373.22px;
  margin: 30px 0px;
}

.templates-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 310px;
  height: 373.22px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  flex: none;
  margin: 0px 20px;
}
.templates-card img {
  border-radius: 4px;
}

.templates-card h4,
.templates-card p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 10px 20px;
}
.templates-card p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.customize-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1300px;
  height: 1178.98px;
  left: 0px;
  margin-top: 50px;
}

.customize-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 875px;
  height: 176px;
  margin-left: 650px;
}

.customize-heading img {
  margin-bottom: 10px;
}

.customize-heading h3,
.customize-heading p {
  overflow: hidden;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.customize-heading p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.customize-features {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-left: 700px;
  width: 956px;
  height: 50px;
  left: 272px;
  top: 200px;
}

.features-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  width: max-content;
  height: 50px;
  top: 0px;
  background: #eef1f7;
  border-radius: 3px;
  margin: 6px;
  border: none;
  outline: none;
}

.features-cards p {
  overflow: hidden;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-left: 3px;
}

.features-cards img {
  margin-left: 2px;
}

.customize-brand #recipe-book {
  margin-left: 700px;
}

.installation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  left: 0%;
  right: 0%;
  margin-top: 150px;
  bottom: 0%;
}

.installation-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 943px;
  height: 184px;
  left: 178.5px;
  top: 0px;
  flex: none;
}

.installation-heading h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
  margin-top: 40px;
  color: #000000;
}

.installation-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 943px;
  height: 28px;
  left: 0px;
}

.installation li {
  list-style: none;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.integrations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1920px;
  height: 637px;
  left: 0px;
  top: 7178.18px;
  background: #ffffff;
  margin: 150px 0px;
}

.integrations-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 54.2468px;
  width: 1300px;
  height: 547px;
  left: 310px;
  top: 45px;
  background: #eef1f7;
  border-radius: 15px;
  margin: 0px 0px;
}

.integrations-content .row .left .valign-wrapper h3,
.integrations-content .row .left .valign-wrapper p,
.integrations-content .row .left .valign-wrapper li {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  margin-top: 24px;
  color: #000000;
}

.integrations-content .row .left .valign-wrapper li {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  margin-top: -20px;
}
.integrations-content .row .left .valign-wrapper p {
  font-size: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.create-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1920px;
  height: 529px;
  left: 0px;
  top: 7965.18px;
  background: #ffffff;
}

.widget-content {
  width: 1920px;
  height: 529px;
  left: 0px;
  top: 0px;
  background: #eef1f7;
}

.widget-content .row {
  margin-left: 200px;
  margin-top: 50px;
}
.widget-content .row .left .valign-wrapper h3,
.widget-content .row .left .valign-wrapper p {
  overflow: hidden;
  width: 600px;
  height: 132px;
  left: 0px;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 66px;
  color: #000000;
  margin: 20px 0px;
}

.widget-content .row .left .valign-wrapper p {
  width: 500px;
  height: 48px;
  top: 152px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.widget-img {
  display: flex;
  align-items: center;
  padding: 0px;
  width: 850px;
  height: 385px;
  left: 897px;
  top: 51.57px;
}

.widget-img img {
  width: 270px;
  height: 385px;
  left: 0px;
  top: 0px;
}

.widget-content .right .valign-wrapper p {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 329px;
  height: 18px;
  margin-left: 300px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  color: #9ca0ac;
}

.stories-platform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  /* position: static; */
  width: 1920px;
  height: 2283px;
  left: 0px;
  top: 8644.18px;
  background: #ffffff;
  /* flex: none;
order: 8;
flex-grow: 0; */
  margin: 400px 0px;
}

.stories-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 22px;

  /* position: static; */
  width: 860.5px;
  height: 166.43px;
  left: 529.75px;
  top: 20.74px;

  /* flex: none;
order: 0;
flex-grow: 0; */
  /* margin: 200px 0px; */
}

.stories-heading h2 {
  overflow: hidden;
  left: 91.75px;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #331e1e;
}

.stories-heading h2 span {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #f9ed32;
}

.shoppable-stories {
  width: 1299.84px;
  height: 575.09px;
  left: 310.08px;
  /* top: 387.17px; */
  margin: 200px 0px;
}

.shoppable-stories .left .valign-container #sales {
  width: 298.92px;
  height: 496.02px;
  left: 310.08px;
  z-index: -1;
  opacity: 0.3;
}

.shoppable-stories .left .valign-wrapper #new-collection {
  position: absolute;
  width: 346.57px;
  height: 575.09px;
  left: 360px;
  margin-top: -270px;
  z-index: 1;
}

.shoppable-stories .left .valign-wrapper button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 167px;
  height: 100.79px;
  margin-left: -368px;
  margin-top: 160px;
  border: 3.57104px dashed #d6dae4;
  box-sizing: border-box;
  background-color: transparent;
  z-index: 2;
}

.shoppable-stories .left .valign-wrapper button span {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15.3971px;
  justify-content: center;
  width: 143.19px;
  height: 76.99px;
  background: #000000;
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  margin: 12px 0px;
}

.shoppable-stories .right .valign-wrapper h2,
.shoppable-stories .right .valign-wrapper li,
.boost-igclicks .left .valign-wrapper h3,
.boost-igclicks .left .valign-wrapper li,
.analyze-growth .right .valign-wrapper h4,
.analyze-growth .right .valign-wrapper li {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #000000;
}

.shoppable-stories .right .valign-wrapper h2,
.boost-igclicks .left .valign-wrapper h3,
.analyze-growth .right .valign-wrapper h4 {
  overflow: hidden;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  margin: 30px 0px;
}

.shoppable-stories .right .valign-wrapper li,
.boost-igclicks .left .valign-wrapper li,
.analyze-growth .right .valign-wrapper li {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  margin: 20px 0px 0px 10px;
}

.boost-igclicks .left .valign-wrapper li:last-child {
  font-weight: 700;
}

.boost-igclicks {
  width: 1299.75px;
  height: 431px;
  left: 310.12px;
  top: 1162.26px;
  margin: 200px 0px;
}

.boost-igclicks .right .valign-container #overview {
  width: 340px;
  height: 365px;
  margin-top: 45px;
  margin-left: 200px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.boost-igclicks .right .valign-container #ig {
  margin-top: 256px;
  margin-left: 150px;
  position: absolute;
}

.boost-igclicks .right .valign-wrapper #new-collection {
  width: 566.57px;
  height: 451px;
  z-index: 2;
}

.analyze-growth {
  width: 1299.56px;
  height: 469px;
  left: 310.22px;
  top: 1793.26px;
  margin: 200px 0px;
}

.analyze-growth .left .valign-container #overview {
  width: 420px;
  height: 365px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.analyze-growth .left .valign-wrapper #analysis {
  width: 562px;
  height: 469px;
  margin-left: -200px;
  margin-top: -50px;
  z-index: 1;
}

.other-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1920px;
  height: 690px;
  left: 0px;
  top: 11077.18px;
  background: #ffffff;
  margin: 150px 0px;
}

.otherfeatures-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  /* position: absolute; */
  width: 1300px;
  height: 690px;
  left: 310px;
  top: 0px;
}
.otherfeatures-heading h2 {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  width: 647px;
  height: 56px;
  font-size: 48px;
  line-height: 56px;
}

.otherfeatures-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1300px;
  height: 513px;
  left: 0px;
  top: 106px;
  margin: 50px 0px;
}

.otherfeatures-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px;
  width: 310px;
  height: 246px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(156, 160, 172, 0.4);
  border-radius: 10px;
  margin: 20px 20px;
}

.otherfeatures-cards h2,
.otherfeatures-cards p {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 20px;
}

.otherfeatures-cards p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.other-features div p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-top: 25px;
}

.feedback-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1920px;
  height: 448px;
  left: 0px;
  top: 11917.18px;
  background: #ffffff;
  margin: 150px 0px;
}

.feedback-container {
  width: 1300px;
  height: 448px;
  left: 310px;
  top: 0px;
  background: #111827;
  border-radius: 15px;
}

.feedback-container .left .valign-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 531px;
  margin: 44px;
  top: 95.82px;
  color: #fff;
}

.feedback-container .left .valign-wrapper h2 {
  width: 492px;
  overflow: hidden;
  left: 0px;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #ffffff;
  margin: 30px 0px;
}

.feedback-container .left .valign-wrapper p {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  width: 503px;
  font-size: 18px;
  line-height: 28px;
}

.feedback-container .left .valign-wrapper span {
  width: 195px;
  height: 28px;
  left: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  margin-top: 10px;
}

.feedback-container .left .valign-wrapper h1 {
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
}

.feedback-container .right .valign-wrapper img {
  margin-top: 24px;
}

.customer-rating {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1920px;
  height: 998.79px;
  left: 0px;
  top: 12515.18px;
  background: #ffffff;
  margin: 150px 0px;
  font-family: "Roboto", sans-serif;
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1298.7px;
  height: 998.79px;
  left: 310.65px;
  top: 0px;
  margin: 0px 0px;
}

.rating-heading h2 {
  overflow: hidden;
  width: 738px;
  height: 56px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  margin: 10px 0px;
}
.rating-heading p {
  overflow: hidden;
  width: 424px;
  height: 21px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  margin: 0px 140px 60px;
}

.rating-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px;
  width: 1298.7px;
  height: 831.79px;
  left: 0px;
  top: 167px;
}

.rating-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 26px;
  width: 309.68px;
  height: 376.39px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(156, 160, 172, 0.4);
  border-radius: 15px;
}
.rating-card img {
  margin-bottom: 20px;
}
.rating-card h4 {
  overflow: hidden;
  height: 145px;
  /* left: 0px; */
  top: calc(50% - 25px / 2 - 27.2px);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.rating-card span {
  margin-bottom: 10px;
}

.rating-card p {
  overflow: hidden;
  height: 300px;
  left: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

.rating-card div {
  display: flex;
  flex-direction: row;
  width: 96px;
  height: 156px;
  left: 26px;
  margin-top: 50px;
}

.rating-card div small {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #9ca0ac;
  margin-left: 5px;
}

.sevendays-trial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
  width: 1920px;
  height: 1853px;
  left: 0px;
  top: 13663.96px;
  background: #eef1f7;
  margin: 150px 0px;
  font-family: "Roboto", sans-serif;
}

.sevendays-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1279px;
  height: 1553px;
  left: 320.5px;
  top: 150px;
}

.sevendays-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  left: 178.5px;
  top: 0px;
  font-style: normal;
  color: #000000;
  text-align: center;
}

.sevendays-heading h2 {
  overflow: hidden;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}

.sevendays-heading p {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 20px 0px;
}

.annually-monthly {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  left: 507.5px;
  margin-top: 84px;
  background: #ffffff;
  border: 1px solid #d6dae4;
  box-sizing: border-box;
  border-radius: 5px;
}

.annually-monthly #annual,
.annually-monthly #monthly {
  font-weight: bold;
  align-items: center;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  border: none;
  outline: none;
  text-align: center;
}

.annually-monthly #annual {
  flex-direction: row;
  padding: 20px 18px;
  left: 5px;
  top: 5px;
  background: #111827;
  border-radius: 5px;
  color: #ffffff;
}

.annually-monthly #monthly {
  background-color: inherit;
  margin-left: 10px;
  color: #9ca0ac;
}

.pricing-plan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1479px;
  height: 588px;
  left: 0px;
  top: 286px;
}

.pricing-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  width: 340px;
  height: 553px;
  left: 0px;
  margin-top: 32px;
  background: #ffffff;
  border: 1.11468px solid #d6dae4;
  box-sizing: border-box;
  border-radius: 10px;
}
.pricing-card h1 {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
}
.pricing-card p {
  overflow: hidden;
  width: 181px;
  height: 42px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 20px 0px;
}

.pricing-card p span {
  font-size: 18px;
  color: #9ca0ac;
}

.pricing-card button {
  width: 249px;
  height: 51px;
  left: 30.5px;
  top: 162px;
  border: 2px solid #0066ff;
  box-sizing: border-box;
  border-radius: 3px;
  align-self: center;
  margin: 40px 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background-color: inherit;
  color: #0066ff;
}

.pricing-card li {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  list-style: none;
}

.pricing-card #line-through {
  text-decoration: line-through;
  color: #9ca0ac;
}

.pricing-card #underline {
  text-decoration: underline;
  font-weight: 900;
}

.asked-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  left: 22.63%;
  right: 22.63%;
  top: 69.16%;
  bottom: 0%;
  margin: 200px 0px;
}

.quizone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 700px;
  height: 104px;
  left: 0px;
  top: 0px;
  margin: 20px 0px;
}

.quizone label,
.quiztwo label,
.quizthree label,
.quizfour label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
  letter-spacing: -0.676519px;
  color: #000000;
}
.quizone p,
.quiztwo p,
.quizthree p,
.quizfour p {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.quiztwo,
.quizthree,
.quizfour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 700px;
  height: 46px;
  left: 0px;
  top: 124px;
  margin: 20px 0px;
}

.borderquiz::after {
  content: "";
  width: 700px;
  margin-top: 10px;
  border: 1px solid #9ca0ac;
}

.websites-usingembed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1920px;
  height: 522.14px;
  left: 0px;
  top: 15666.96px;
  background: #ffffff;
  margin: 150px 0px;
}

.web-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 981px;
  height: 522.14px;
  left: 0px;
  top: 0px;
  margin: 200px 0px;
}

.webusingembed-heading h2 {
  width: 981px;
  height: 120px;
  left: 0px;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.webusingembed-heading h2 span {
  background-color: #f9ed32;
}

.web-logos {
  margin-top: 100px;
}

.dive-in {
  width: 1920px;
  height: 529px;
  /* left: 0px; */
  top: 0px;
  background: #eef1f7;
  margin: 0px 0px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divein-widget {
  padding: 0px;
  /* position: absolute; */
  width: 644px;
  height: 336px;
  left: 638px;
  top: 96.72px;
}

.divein-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divein-content h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 66px;
  text-align: center;
  color: #000000;
  margin: 20px 0px;
}

.divein-content p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.footer-container {
  width: 1920px;
  height: 422px;
  background: #111827;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-left: 16.15%;
  margin-right: 16.88%;
  /* bottom: 42.35%; */
}

.footer-content {
  margin-top: 40px;
}

.footer-logo {
  width: 360px;
  height: 57px;
  margin-right: 80px;
  bottom: 61.47%;
}

.footer-logo p {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer-product {
  width: 226px;
  height: 177px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
.footer-product h4,
.footer-company h4,
.footer-intergrations h4 {
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  margin-left: 15px;
}
.footer-product p,
.footer-company p,
.footer-intergrations p {
  margin: 15px;
}
